 @import url(http://fonts.googleapis.com/css?family=Varela+Round);
 @import url(http://necolas.github.io/normalize.css/3.0.2/normalize.css);

        body {
            background: #3b3b3b;
            text-align: center;
            margin: 10% auto;
            width: 25%;
            max-width: 750px;
            min-width: 300px;
            padding: 0 5%;
            font: 18px normal 'Varela Round', Helvetica, serif;
            color: #000;
            font-family: 'Varela Round', Helvetica, serif;
            font-size: 18px;
        }

        #banner {
            background: #D5DDE4;
            padding: 5% 0;
        }

        #logo {
            width: 80%;
            margin: 0 10% 0 10%;
        }

        #name {
            padding: 0 5%;
            font-size: 48px;
        }
        
        #avatar {
            width: 50%;
            border-radius: 50%;
           
            margin: -5% 25% 5% 25%;
            
        }


        #username {
            margin: 5% auto;
            width: 100%;
        }

        #coverletter {
            background: #fff;
            border-radius: 5px;
            border: 1px solid #D5DDE4;
            padding: 0;
            margin: 0;
            width: 50%;
            float: left;

        }

        #profile {
            background: #fff;
            border-radius: 5px;
            border: 1px solid #D5DDE4;
            padding: 0;
            margin: -10% 0 0 0;
        }

        #stats {
            margin: 0 auto;
            padding: 0;
        }
         #stats li {
            display: inline-block;
            margin: 0 5px;
            font-weight: bold;

        }

        #trophies {
            padding: 0;
        }

        #trophies li {
            display: inline-block;
            width: 100%;
            padding: 5px 0;
            margin: 0;
            border-top: 1px solid #D5DDE4;
            list-style-type: none;
            position: relative;
            
        }

        #trophies li img {
            float: left;
            width: 25%;
            padding: 15px;
            margin-left: 10% auto;
            clear: both;
            
            
        }

       #trophies li span {
            display: inline;
            font-weight: bold;
            padding-left: 75px;
            padding-right: 15px;
            margin-left: 25px;
            position: absolute;
            top: 40%;
            bottom: 40%;
            right: 20px;
            
           
        }

        #bio {
            background: #fff;
            border-radius: 5px;
            border: 1px solid #D5DDE4;
            padding: 0 5%;
            margin: 10% 0 0 0;
            text-align: left;            
        }

        a, a:visited {
            color: #5FB6E1;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        span {
            color: #000;
        }

       